config coredns 'main'
	option enabled '1'
	option binary '/usr/bin/coredns'
	option corefile '/etc/coredns/Corefile'
	option user 'root'
	option group 'root'
	option workdir '/var/lib/coredns'
	option stdout '1'
	option stderr '1'
	option respawn '1'
	option pidfile '/var/run/coredns.pid'

	# Optional extra arguments, one token per line.
	# Example:
	# list extra_arg '-dns.port'
	# list extra_arg '53'
